[submodule "asku-cloud"]
	path = asku-cloud
	url = https://github.com/ASKU-PI/asku-cloud
[submodule "asku-auth-service"]
	path = asku-auth-service
	url = https://github.com/ASKU-PI/asku-auth-service
[submodule "asku-config"]
	path = asku-config
	url = https://github.com/ASKU-PI/asku-config
[submodule "asku-account-service"]
	path = asku-account-service
	url = https://github.com/ASKU-PI/asku-account-service
[submodule "asku-ui"]
	path = asku-ui
	url = https://github.com/ASKU-PI/asku-ui
